@import url('https://fonts.googleapis.com/css2?family=Magra:wght@400;700&family=Piazzolla:wght@400;500;600&display=swap');

:root {
  font-family: 'Magra', sans-serif;
}

html,
body {
  background: rgb(136, 155, 255);
  background: radial-gradient(circle, rgba(136, 155, 255, 1) 0%, rgba(12, 49, 135, 1) 100%);
  color: white;
}

body {
  min-height: 100%;
}

html,
body,
h1 {
  padding: 0;
  margin: 0;
}

.header {
  font-family: "Piazzolla", serif;
  font-size: 1.5rem;
  width: 100%;
  background: #1B264F;
  height: fit-content;
  display: flex;
  align-items: center;
  justify-content: center;
}

.main {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.main+* {
  max-width: 1200px;
}


.message {
  visibility: hidden;
}

.information {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1em;
  padding-top: 1em;
}

.direction-change {
  visibility: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  margin-block: 1em;
  padding: 0.5em;
  border: 5px solid #E6E6E6;
  border-radius: 6px;
  background: #4F6BBB;
  gap: 0.75em;
  height: 115px;
}

.direction-line {
  display: flex;
}

#direction {
  display: inline-block;
  width: 100px;
  font-weight: bold;
  text-align: center;
}

.direction-change button {
  font-size: 1.1rem;
}

button {
  border: none;
  border-radius: 4px;
  padding: 4px 8px;
  cursor: pointer;
}

button:disabled {
  cursor: default;
  background: rgb(152, 152, 152);
  color: rgb(97, 97, 97);
}

.directio h2 {
  margin-top: 0;
}

.game-container {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  max-width: 1200px;
  margin: auto;
  gap: 50px;
}

#random-board {
  visibility: hidden;
  background: #987BEA;
}

#random-board:hover {
  background: #685796;
}

.player-board,
.cpu-board {
  display: grid;
  grid-template-columns: repeat(10, 1fr);
  width: fit-content;
}

.player,
.cpu {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.space {
  height: 2.5em;
  width: 2.5em;
  background: #E6E6E6;
  border: solid 1.5px #302B27;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
}

.player-board .space:not([occupiedby='null']).space:not([occupiedby='missed']) {
  background: #5F64D1;
}

.space[occupiedby='missed'] {
  background: #92AAEC !important;
}

.space[hitstatus='hit'],
.space[occupiedby='hit'] {
  background: #FD8DAF !important;
}

.space[x="0"][y="9"] {
  border-top-left-radius: 6px;
}

.space[x="9"][y="9"] {
  border-top-right-radius: 6px;
}

.space[x="0"][y="0"] {
  border-bottom-left-radius: 6px;
}

.space[x="9"][y="0"] {
  border-bottom-right-radius: 6px;
}

.results {
  display: flex;
  flex-direction: column-reverse;
  overflow: scroll;
  overflow-x: hidden;
  overflow-y: auto;
  height: 65px;
  width: 20em;
}

.results-container {
  display: none;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-block: 1em;
  margin-inline: auto;
  padding: 0.75em;
  border: 5px solid #E6E6E6;
  border-radius: 6px;
  background: #4F6BBB;
  gap: 0.75em;
  width: fit-content
}

#new-game {
  font-size: 1.4rem;
}

button {
  width: fit-content;
  background: #92AAEC;
  color: white;
  padding: 0.25em 1.25em;
  font-family: "Magra", sans-serif;
  font-weight: 600;
  /* transition: color 1s ease-in; */
}

button:not(:disabled):hover {
  background: #7583a8;
  color: rgb(210, 207, 207);
  transition: color 0.2s ease-in;
  transition: background 0.2s ease-in;
}

.ships {
  display: flex;
  justify-content: space-between;
  width: 100%;
  user-select: none;
  font-weight: bold;
  height: 1em;
}

.player .ships {
  cursor: pointer;
}

.player-instruction,
#manual-message {
  font-weight: bold;
  font-size: 1.2rem;
}

.select {
  font-size: 1.2rem;
  color: lightblue;
}

h2 {
  margin: 0;
}

.placed {
  font-size: 1rem;
  color: rgb(152, 152, 152);
  user-select: none;
  cursor: default;
}

.sunk {
  font-size: 1rem;
  color: #FD8DAF;
  user-select: none;
  cursor: default;
}

.hoverValid {
  background: #9C9EE2;
}

.hoverInvalid {
  background: rgb(216, 155, 155);
}

.cpu-active-space {
  cursor: pointer;
  transition: background 0.1s ease;
}

.cpu-active-space:hover {
  background: #ACACAC;
}

.hit-dot {
  height: 0.75em;
  width: 0.75em;
  background: #C04343;
  border-radius: 100%;
}

.player-ship-dot {
  height: 0.75em;
  width: 0.75em;
  background: #371F7E;
  border-radius: 100%;
}

.footer {
  background: #302B27;
  width: 100%;
  padding: 15px 0;
  text-align: center;
}

@media (max-width: 900px) {
  .space {
    height: 1.75em;
    width: 1.75em;
  }

  .ships {
    font-size: 0.8rem;
  }

  .direction-change {
    height: fit-content;
  }

  .direction-change *,
  .placed,
  .results-container {
    font-size: 0.9rem !important;
  }

  .select {
    font-size: 1rem !important;
  }

  .game-container {
    margin-top: 0;
    margin-bottom: 5px;
  }

  .results-container {
    margin-bottom: auto;
    align-self: flex-start;
  }

  .footer {
    margin-top: auto;
  }
}

@media (max-width: 650px) {
  .header {
    font-size: 1.2rem;
  }

  .game-container {
    flex-direction: column-reverse;
    gap: 0.25em;
    margin-top: auto;
  }

  .space {
    height: 1.6em;
    width: 1.6em;
    border-width: 0.25px;
  }

  .information {
    padding-top: 0.25em;
    gap: 0.5em;
  }

  .player-instruction {
    font-size: 1rem;
  }

  h2 {
    font-size: 0.9rem;
  }

  .results-container {
    width: 50%;
    height: 8em;
    margin-bottom: 1em;
  }

  .direction-change *,
  .placed,
  .results-container {
    font-size: 0.7rem !important;
  }

  .direction-change {
    gap: 0.25em;
    width: 80%
  }

  .results {
    text-align: center;
  }

  .player,
  .cpu {
    border-top: 5px solid lightblue;
  }

  .ships,
  .sunk {
    font-size: 0.7rem;
  }

  #new-game {
    padding: 0.2em 1em;
    font-size: 1.2rem;
  }
}