:root {
  --dark-sienna: hsla(349, 48%, 9%, 1);
  --feldgrau: hsla(163, 15%, 37%, 1);
  --middle-blue-green: hsla(167, 45%, 63%, 1);
  --dark-sky-blue: hsla(192, 43%, 62%, 1);
  --light-gray: hsla(195, 9%, 82%, 1);
  font-family: 'Sarabun', sans-serif;
}

html,
body {
  background: var(--dark-sienna);
  color: var(--light-gray);
}

.main {
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
}

.message {
  visibility: hidden;
}

.information {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.information button {
  margin: auto;
  width: 100%;
  padding: 6px;
}

h1 {
  margin-bottom: 5px;
}

h2 {
  margin-top: 0;
}

.title {
  font-family: 'Ultra', serif;
  text-transform: uppercase;
  font-size: 1.5rem;
}

.game-container {
  display: flex;
  gap: 50px;
}

.player-board,
.cpu-board {
  display: grid;
  grid-template-columns: repeat(10, 1fr);
  width: fit-content;
}

.space {
  height: 50px;
  width: 50px;
  background: green;
  border: solid 1px black;
  color: white;
}

.player-board .space:not([occupiedby='null']).space:not([occupiedby='missed']) {
  background: blue;
}

.space[occupiedby='hit'] {
  background: red;
}

.space[occupiedby='missed'] {
  background: yellow;
}

.space[hitstatus='hit'] {
  background: red !important;
}

.results {
  display: flex;
  flex-direction: column-reverse;
  height: 500px;
  overflow: scroll;
}

.ships {
  display: flex;
  gap: 50px;
  user-select: none;
}

.player .ships {
  cursor: pointer;
}

.select {
  font-size: 1.2rem;
  color: blue;
}

.placed {
  font-size: 1rem;
  color: blue;
  user-select: none;
  cursor: default;
}

.sunk {
  font-size: 1rem;
  color: red;
  user-select: none;
  cursor: default;
}

.hoverValid {
  background: lightblue;
}

.hoverInvalid {
  background: lightcoral;
}
