.game-container {
  display: flex;
  gap: 50px;
}

.player-board,
.cpu-board {
  display: grid;
  /* grid-template-rows: repeat(10, 1fr); */
  grid-template-columns: repeat(10, 1fr);
  width: fit-content;
}

.space {
  height: 50px;
  width: 50px;
  background: green;
  border: solid 1px black;
  color: white;
}

.player-board .space:not([occupiedby='null']) {
  background: blue;
}

.space[occupiedby='hit'] {
  background: red;
}

.space[occupiedby='missed'] {
  background: yellow;
}

.space[hitstatus='hit'] {
  background: red;
}